@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Six+Caps&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  background-color: #2c2c2c;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

/* .content a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.content a:hover{
    color: white;
    text-decoration: underline;
} */

.servicos{
    background-color: #191919;
    padding: 40px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cards{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
}

.card{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 330px;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75) ;
}

.card img{
    border-radius: 10px;
    width: auto;
    height: 150px;
    object-fit: cover;
}

.card h4{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.card p{
    font-size: 16px;
}

.card:hover{
    box-shadow: 0px 0px 10px 0px rgba(35, 0, 176, 0.75) ;
}