@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Six+Caps&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  background-color: #2c2c2c;
}
.quemsomos {
  font-size: 23px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  width: 100%;
  gap: 0px;
  background-image: url("../img/background.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */

}
.quemsomos h1 {
  font-size: 70px;
  text-align: center;
  font-weight: 300;
  padding: 0px 0;
  margin: 0px;
  font-family: "Six Caps", sans-serif;
  letter-spacing: 3px;
}

.quemsomos h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  padding: 0px 0;
  margin: 0px;
}

.quemsomos p {
    width: 70%;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  padding: 40px 0;
}
.quemsomos a{
    background-color: #0000ff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    width: 40%;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    color: white;

}
.quemsomos a:hover{
    color: white;
    background-color: #0000cd;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

/* .content a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.content a:hover{
    color: white;
    text-decoration: underline;
} */

.servicos{
    background-color: #191919;
    padding: 40px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cards{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
}

.card{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 350px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75) ;
}

.card img{
    border-radius: 10px;
    width: auto;
    height: 150px;
    object-fit: cover;
}

.card h4{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.card p{
    font-size: 16px;
}

.card:hover{
    box-shadow: 0px 0px 10px 0px rgba(35, 0, 176, 0.75) ;
}

.social{
    background-color: #2c2c2c;
    padding: 40px 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contato{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contatoinsta {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    padding: 40px 45px;
}

.contato .button a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}
.contato .button img {
    padding: 30px;
    height: 100%;
    width: 100px;
}

.contato .button{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px 20px;
    text-align: center;
}